.menuItems {
  font-size: 1.52rem;
  color: whitesmoke;
}

.menuItems a {
  color: whitesmoke;
}

.menuItems :hover {
  color: #593196;
}

.menuItems :active {
  color: #593196;
}

.cardButton {
  background-color: #593196;
  border: #593196;
}
.cardButton:hover {
  background-color: #472778;
  border: #472778;
}

.infoButton {
  background-color: #1ba2f6;
  color: whitesmoke;
}

.productSection {
  justify-content: start;
  gap: 10px 20px;
}

.checkoutTableHead {
  background: #593196;
  color: whitesmoke;
}
